.menu{
    margin-top: 2px;
    padding-top: 10px;
    padding-bottom: 1px;
    background-color: #dee2e6;
}

.menu ul li{
    display: inline;
    padding: 4px;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 6px;
    border-radius: 6px;
}

.menu ul li a:hover{
    color: #dee2e6;
}

.footer{
    margin-top: 20px;
    text-align: center;
    background-color: #dee2e6;
    padding: 6px;
    font-size: 12px;
    font-weight: bold;
}

.content{
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #dee2e6;
    padding: 6px;
}

.form-login{
    padding-top: 10%;
    padding-left: 30%;
    padding-right: 30%;
}

.form-login fieldset{
    border: 1px solid #dee2e6;
}

.form-login fieldset legend{
    background-color: #dee2e6;
    font-size: 15px;
    font-weight:bold;
    padding: 10px;
    width: 30%;
}

.form-login fieldset .row{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 4%;
}

.form-login fieldset .row .col{
padding-bottom: 3%;
}

.form-login .row .col .create{
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.form-login .row .forget{
    text-align: right;
    font-size: 13px;
    font-weight: bold;
}



